.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 86px;
  width: 100%;
  background-color: #e2224288;
  border-bottom: 1px solid white;
}

.headerLogo {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 800;
  border: none;
  background-color: #e2224200;
}

.headerButton {
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #e2224200;
}

.headerButtons {
  display: flex;
  gap: 12px;
}

.headerButton:hover {
  transition: 0.3s ease;
  transform: scale(1.1);
}

.headerButton:active {
  transform: scale(1);
}
