.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 74px;
  width: 100%;
  background-color: rgb(255, 53, 53);
}

.headerLogo {
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: 800;
  border: none;
  background-color: rgb(255, 53, 53);
}

.headerButtons {
  border: none;
  color: black;
  background-color: rgb(255, 255, 255);
}
