.muscleDetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  /* background-color: aliceblue; */
  padding-top: 120px; /* Add enough padding so the content isn't hidden under the header */

  /* padding-top: 100px;  */
  /* Moves content down so it's not behind the header */
}

.muscleDetailTopText {
  padding: 24px;
  border-radius: 36px;
  background-color: rgba(116, 102, 102, 0.938);
}

.muscleImage {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
