.muscleDetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 36px;
  padding-top: 120px; /* Add enough padding so the content isn't hidden under the header */
  /* padding-top: 100px;  */
  /* Moves content down so it's not behind the header */
}

.muscleDetailTopText {
  /* display: flex; */
  /* justify-content: column; */
  text-align: center;
  /* background-color: rgba(58, 58, 58, 0.853); */
  font-size: 24px;
  padding: 86px;
  border-radius: 36px;
}

.øvelserPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.øvelser {
  padding: 64px;
  border-radius: 36px;
}

.øvelser h3 {
  font-size: 24px;
  text-align: center;
  /* padding-right: 22px; */
  text-shadow: 2px 2px black;
}

.favoriteSection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 12px; */
}

.favoriteButton {
  display: flex;
  padding-left: 12px;
}

.øvelser img {
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 24px;
  object-fit: cover;
  height: 284px;
  width: 352px;
}
.øvelseInfo {
  padding: 24px;
  background-color: rgb(65, 65, 65);
  box-shadow: 4px 4px black;
  border-radius: 36px;
  width: 400px;
}

/* .muscleImage {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
} */
