.frontPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 120vh;
  gap: 66px;
}

.frontPageText {
  padding: 24px;
  border-radius: 36px;
  /* background-color: rgba(116, 102, 102, 0.938); */
  /* box-shadow: 0px 0px 12px 0px; */
}

.frontPageText h3 {
  font-size: 46px;
}

.frontPageText p {
  font-size: 22px;
  font-weight: 500;
}

.frontPageText b {
  text-transform: uppercase;
  /* text-decoration: underline; */
  color: #ff2a4e;
}

.weightPlate {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weightPlate {
  animation: spin 16s linear infinite;
}
